<div class="row">
  <div class="col-12 d-flex align-content-center align-items-center justify-content-between mb-0 flex-wrap">
    <div class="d-flex align-content-center align-items-center">
      <!-- TITLE -->
      <p class="h1-secondary-bold d-flex align-items-center align-content-center mb-0 mr-3">
        <mat-icon class="cardIcon mr-2">history</mat-icon>
        Historial de visitas
      </p>
    </div>

  </div>
</div>

<div class="fullWidth p-0 usersTableContainer overflow-hidden">
  <app-data-table class="fullWidth" #datatable></app-data-table>
</div>
