
.subjectChip {
  background-color: #AAAAAA !important;
  color: #fff !important;
  p {
    color: #fff !important;
  }
  mat-icon {
    color: #fff !important;
  }
}

.addButton {
  margin-top: 3px !important;
}
