.visitsChartContainer {
  height: 245px;
}

.litCardContainer {
  height: 75px;
}

.litCardText {
  font-size: 32px;
}

.dottedBorder {
  border: 4px lightgray dashed;
  border-radius: 5px;
}

.facebook-button {
  background: #005AEB !important;
  color: white !important;
}

.twittr-button {
 background: #0091E7 !important;
  color: white !important;
}

.whats-button {
  background: #427E2A !important;
  color: white !important;
}

.carouselImg {
  width: 100%;
  height: auto;

}

