<h2 class="">Resetear contraseña</h2>
<div mat-dialog-content class="Panel-act-2">
  <!--------------->
  <!-- searchbar -->
  <div class="col-12 formItem">

    <mat-form-field appearance="standard" class="fullWidth">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput placeholder="Nueva contraseña" type="password" #passwordField [formControl]="password">
      <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions style="float: right;">
  <button type="button" mat-button (click)="dismiss()">Cancelar</button>
  <button type="button" mat-button (click)="confirm()">{{data.button}}</button>
</div>
